ion-avatar{
    background: yellow;
    border: 1px solid #E5E5E5;
    height: 100px;
    width: 100px;
}
.col-team{
    border-bottom: 1px solid black;
    margin: 0 auto 0;

    img{
        height: 50%;
    }
}