<ion-header>
	<ion-toolbar>
		<ion-title class="ion-text-center">Equipos NBA</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid *ngIf="teams.length > 0">
		<ion-row class="">
			<ion-col size="6" *ngFor="let team of teams" class="ion-text-center" (click)="detail( team.teamId )">

				<ion-avatar class="ion-text-center">
					<ion-img class="ion-text-center" [src]="team.logo | logo"></ion-img>
				</ion-avatar>

				<h3>{{ team.nickname }}</h3>
				<ion-badge color="{{ null | conferenceColor }}">{{ team.leagues.standard.confName }}</ion-badge>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>